body {
  background-color: rgb(29, 29, 45);
  font-family: arial;
}

.page-blue {
  background-color: rgb(57, 205, 255);
  border-radius: 30px;
  padding: 2em;
  color: white;
  text-align: center;
  line-height: 0;
}

.fa-dice-four {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

.head {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  margin-top: 2em;
}

a {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}
img {
  width: 400px;
}

h1 {
  font-size: 95px;
}

.may {
  font-size: 18px;
  color: rgb(228, 228, 228);
}

h5 {
  font-size: 15px;
  font-weight: 100;
  color: rgb(228, 228, 228);
}

.data {
  display: flex;
  justify-content: space-between;
}

main {
  color: white;
  padding: 10px;
}

.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  display: flex;
  justify-content: space-between;
}

.heaven {
  width: 30px;
}

.weather {
  border: 1px solid white;
  width: 70px;
  padding: 1em;
  border-radius: 20px;
  text-align: center;
  line-height: 0;
}

.weather:hover {
  background-color: aqua;
  transform: scale(1.3);
  box-shadow: 0 0 10px aqua;
}
