* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
.app-container {
  width: 75vw;
  height: 75vh;
  background: linear-gradient(to right, #87ceeb, #2b4eec);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  width: 17rem;
  height: 38rem;
  background-color: rgb(10, 24, 54);
  border-radius: 20px;
  position: relative;
  padding: 0.2rem;
}
main {
  width: 100%;
  background: linear-gradient(to top, #126ef3, #16c1f7);
  height: 40%;
  border-radius: 20px;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 3px rgb(80, 121, 255);
}
.phone:after {
  position: absolute;
  content: "";
  background-color: #063c85;
  top: 35%;
  left: 4px;
  right: 4px;
  height: 24px;
  z-index: 2;
  border-radius: 0 0 45px 45px;
  box-shadow: 0 0 3px rgb(80, 121, 255);
}
header {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.5rem;
}
header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul .header-more {
  height: 1.3rem;
  width: 1.3rem;
  border: 0.5px solid rgba(255, 255, 255, 0.384);
  border-radius: 50%;
  font-size: 0.6rem;
}
header ul li strong {
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 0.2rem;
}
header ul li .fa-location-dot {
  font-size: 0.9rem;
}
i,
strong,
p {
  color: white;
}
main .daily-specifications {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  border-top: 0.5px solid rgba(230, 230, 230, 0.089);
  margin-top: 0.9rem;
  padding-top: 0.8rem;
}
main .tomorrow-wheather {
  display: grid;
  grid-template: 1rem 1fr 1rem / 5rem 1fr;
  margin-left: 1rem;
  column-gap: 1.3rem;
}
.tomorrow-wheather img {
  grid-area: 2 / 1 / 4 /2;
  width: 4.5rem;
}
.tomorrow-wheather p {
  grid-area: 1 / 2 / 2 / 3;
}
.tomorrow-wheather span {
  grid-area: 2 / 2 /3 /3;
}
.tomorrow-wheather span p {
  display: inline;
  color: rgba(255, 255, 255, 0.486);
  font-size: 2rem;
}
.tomorrow-wheather .weather-specifications {
  grid-area: 3 / 2 / 4 / 3;
  color: rgba(255, 255, 255, 0.555);
  font-size: 0.6rem;
}
.tomorrow-wheather span strong {
  font-size: 3.5rem;
}

.daily-specifications li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daily-specifications li p {
  font-size: 0.6rem;
}
.daily-specifications li i {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}
.daily-specifications .fa-droplet {
  color: #21c2f3;
}
.daily-specifications p:last-of-type {
  color: rgba(240, 240, 240, 0.582);
}
.week-weather {
  width: 90%;
  height: 60%;
  margin: auto;
}
.week-weather li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.week-weather li:hover {
  background-color: #21c2f3;
}
.week-weather li p {
  color: rgba(255, 255, 255, 0.74);
  font-size: 0.8rem;
}
.week-weather li * p {
  display: inline-block;
  margin-right: 0;
}
.week-weather li div i {
  font-size: 1.4rem;
}
.week-weather span p:first-of-type {
  color: white;
  font-size: 0.9rem;
}
