body {
  background-image: url("https://images.unsplash.com/photo-1636819488524-1f019c4e1c44?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 200mm;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(133, 210, 255);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  max-width: 120px;
  min-width: 60px;
  background-color: #e5efb2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.logo {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.logo img {
  width: 60px;
  border-radius: 10px;
}

.icons {
  gap: 6px;
}

.icon {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.icon img {
  width: 30px;
}
.icon-2 {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  color: #000000;
}

.icon:hover::after {
  content: attr(data-label);
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 15px;
}

.profile {
  position: relative;
  margin-top: auto;
  margin-bottom: 190px;
  cursor: pointer;
}

.profile img {
  max-width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.hover-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  border: 1px solid #9b9999;
  border-radius: 5px;
  flex-direction: column;
  width: 220px;
}

.hover-menu .menu-item {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: default;
  border-bottom: 1px solid #ddd;
}

.hover-menu .menu-item:hover {
  background-color: #f0f0f0;
}

.hover-menu .menu-item img {
  width: 30px;
  margin-right: 5px;
}

.logo:hover .logo-menu,
.profile:hover .profile-menu {
  display: flex;
}
