body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.main-content {
  margin: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

select {
  color: #000000;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.create-meeting {
  background-color: #9381fa;
  color: #000000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border: solid rgb(243, 242, 242);
}
.calendar-container {
  flex: content;
}
.calendar-nav button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

.days {
  display: flex;
  gap: 150px;
  margin-right: 150px;
}
.date {
  font-size: 15px;
  text-align: center;
}
.num {
  font-size: 30px;
  font-weight: bold;
}
.content {
  display: flex;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  line-height: 215px;
  font-size: 15px;
  padding-left: 30px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.calendar-cell {
  display: flex;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  width: 150px;
  height: 180px;
}

.card,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(231, 229, 229);
  font-weight: bold;
}

.card3 {
  background-color: rgb(208, 232, 243);
  color: #1b9fdd;
}

.card4 {
  background-color: rgb(228, 251, 252);
  color: rgb(9, 192, 192);
}

.card5 {
  background-color: rgb(250, 218, 159);
  color: #c75a02;
}

.card6 {
  background-color: rgb(255, 255, 255);
}

.card7 {
  background-color: rgb(220, 248, 217);
  color: rgb(17, 167, 17);
}

.card8 {
  background-color: rgb(226, 222, 222);
}

.card9 {
  background-color: rgb(248, 215, 215);
  color: rgb(192, 13, 13);
}

#button-card {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #000;
}

.card:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card7:hover,
.card8:hover,
.carda9:hover {
  background-color: rgb(159, 212, 181);
  transform: translate(-30px, -30px);
  border: solid #000000;
}

.user {
  border-radius: 50%;
  display: flex;
  padding: 8px;
  width: 45px;
  height: 40px;
}
